
<%- include("partial/header.ejs") %> 
<h1>HOME</h1>
<p><%= startingContent %> </p>

<% posts.forEach(post => { %>
  <h1><%= post.title %></h1>
  <p><%= post.content %> </p>
<% }); %>
<%- include("partial/footer.ejs") %> 